{
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "rules": {
    no-empty: ["warn", { "allowEmptyCatch": true }],
    "strict": [2, "never"],
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn",
     "react/no-danger": "off",
    "no-console": ["error", { allow: ["warn", "error", "log"] }],
      "no-unused-vars": "off",
       "comma-dangle": "off"
  },
  "Options": "except-parens",
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}

